.container{
    max-width: 400px;
    
    background-color: rgb(70, 59, 59);
}

.display{
    height: 70px;
    background-color: rgb(136, 126, 189);
    line-height: 1.5;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    color:black;
    padding: 20px 10px 10px 10px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 2px solid rgb(70, 59, 59);
    border-bottom: 2px solid rgb(70, 59, 59);
}

.btn{
    border: 2px solid rgb(134, 68, 68) ;
    text-align: center;
    line-height: 2.5;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    color: wheat;
}

.btn:hover{
    background-color: rgb(163, 52, 74);
    color: rgb(11, 184, 184);
}
    